.main_title
{
    width:100%;
    text-align:center;
    background:#2c2826;
}
.title{
    display:inline-block;
    width:95%;
    padding-bottom:30px;
    text-align:left;
}
#logo{
    float:left;
}
#sign_set{
    float:right;
}
.contents
{
    float:left;
    width:100%;
    margin:0 auto;
    text-align:center;
}
ul
{
    list-style:none;
    text-align:right;
    padding-right:20px;
}
ul li{
    display:inline-block;
    padding-right:5px;
}

