body
{
    background:#d67e7e;
}
.login_box
{
    background:#ffffff;
    width:33%;
    border-radius:0.8em;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.login_title
{
    font-size:300%;
    font-weight:bold;
}
.box
{
    background:#cccccc;
    float:left;
    width:70%;
    margin-right:10%;
}
.login
{
    background:#9b2f2f;
    float:left;
    width:20%;
}
.login button
{
    margin:0 auto;
    width:100%;
    height:50px;
}